<div class="container">
  <div class="jumbotron">
    <h1>Apply for an Instant Loan</h1>
    <p>Meet all your financial needs with Personal Loans from Capital First. Loans available at best interest rates. Fill in the form to instantly check your eligibility for a Loan for Capital First.</p>
    <a href='/loans'><button type="button" class="btn btn-primary">Need Loan?</button></a>
  </div>
</div>

<style>
  button {
    min-width: 150px;
  }
</style>
